BACKUP_FILE="bitwarden_backup_$(date +%F).tar.gz"
ENCRYPTED_FILE="$BACKUP_FILE.gpg"

# Create backup arcive
tar -czvf "$BACKUP_FILE" "$BACKUP_PATH"

# Encryption
gpg --batch --yes --passphrase "{{ backup_password }}" --symmetric --cipher-algo AES256 -o "$ENCRYPTED_FILE" "$BACKUP_FILE"

# Upload to S3
aws s3 cp "$ENCRYPTED_FILE" "s3://{{ s3_bucket }}/backups/$ENCRYPTED_FILE"

# Clean local files
rm -f "$BACKUP_FILE" "$ENCRYPTED_FILE"

echo "Backup downloded successfully to S3: {{ s3_bucket }}"
